@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Rubik', sans-serif;
    background-size: 200% 200%; /* Set background size for animation */
    background: linear-gradient(90deg, #00537a, #013c58);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #0b1e33;
    color: white;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px 0;
}

h2 {
    color: #ffba42;
    font-size: 50px;
    margin-bottom: 10px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hide scrollbar */
}

/* Add styles for carousel buttons */
.carousel-btn {
    background-color: transparent;
    border: none;
    color: #ffc404;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure buttons appear above carousel */
}

.prev-btn {
    left: 100px;
}

.next-btn {
    right: 100px;
}

.carousel-btn::before {
    content: '◀';
    display: inline-block;
    font-size: 50px;
}

.carousel-btn.next-btn::before {
    content: '▶';
}

/* Button hover effect */
.carousel-btn:hover {
    color: #555;
}

.song-item {
    flex: 0 0 auto;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.song-item img {
    /* centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 125%;
    border-radius: 5px;
}

.song-item h3 {
    font-size: 40px;
    margin-top: 10px;
}

.song-item button {
    width: 100px;
    height: 50px;
    background-color: #f5a201;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: #0b1e33;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -900px;
}

#heart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -900px;
}