{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MusicBox</title>
  <link rel="icon" href="{% static 'vinyl.png' %}">
  <link rel="stylesheet" href="{% static 'vinyl.css' %}">
</head>
<body>
  <div class="vinyl-container">
    <img id="vinyl-img" src="{% static 'vinyl.png' %}" alt="Music Record Vinyl Disc" class="vinyl-image">
    <div class="content-container">
      <h1>MusicBox</h1>
      <a href="{% url 'login' %}"><button id="sign-in">Sign In</button></a>
    </div>
  </div>
</body>
</html>
{% endblock %}