<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta</title>
</head>
<body>

    <section  style="background-color: #fdfcf3;">

        <div><button type="button" class="btn">Regresar</button>></div>
  
        <div class="center"></div>
        <div class="container text-center">
          <div class="card" style="max-width: 30rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        </section>
    
</body>
</html>