/* Gradient Background for Body (Animated) */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ffc404, #007bff); /* Animated gradient */
    background-size: 200% 200%; /* Set background size for animation */
    animation: gradientBackground 10s linear infinite; /* Animation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #007bff; /* Blue from palette */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #6c757d; /* Gray from palette */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 90%;
    padding: 10px;
    background: #a743ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background: linear-gradient(to right, #a743ff, #00437a, #a743ff); /* Animated gradient color on hover */
}

p {
    text-align: center;
    color: #6c757d; /* Gray from palette */
}

a {
    color: #007bff; /* Blue from palette */
    text-decoration: none;
}

a:hover {
    color: #0056b3; /* Darker shade of blue from palette */
}

#logo {
    max-width: 100px;
    /* centered */
    display: block;
    margin: -100px auto 50px auto;
}